In [2]:
import pandas as pd
import numpy as np
import pandas as pd
from datetime import datetime


df_list = []

for i in range(1, 31):
    try:
        filename = f'resources/transactions_summary ({i}).csv'
        df = pd.read_csv(filename)
        df_list.append(df)
        print(f'Successfully loaded file {filename}')
        # Perform any data analysis or manipulation you need
    except FileNotFoundError:
        pass

shake_data_df = pd.concat(df_list, ignore_index=True)
shake_data_df['Date'] = pd.to_datetime(shake_data_df['Date']).dt.strftime('%Y-%m-%d')
#Summary Spending
summary_spending_df = shake_data_df[shake_data_df['Amount Debited'] > 1]
summary_spending_df = summary_spending_df[['Amount Debited', 'Source / Destination','Date']]
summary_spending_df=summary_spending_df.dropna()
summary_spending_df = summary_spending_df[~summary_spending_df["Source / Destination"].isin(["MASSAGE ADDICT","GOOGLE SERVICES","guevarch@gmail.com","FREEDOM MOBILE", "yansunique@yahoo.ca", "CITY CENTRE BAPTIST", "GOOGLE YouTubePremium"])]
summary_spending_df = summary_spending_df[~summary_spending_df['Source / Destination'].str.contains(r'TOTAL HEALTH', regex=True)]
df1 = pd.read_csv('resources/purchase_type_updated.csv')
summary_spending_df = summary_spending_df.reset_index()
summary_spending_df = summary_spending_df.merge(df1, on='Source / Destination', how='left')
summary_spending_df.drop_duplicates(subset=['Date', 'Amount Debited','Source / Destination'], inplace=True)
summary_spending_df = summary_spending_df.set_index('Amount Debited')
# summary_spending_df.dropna(inplace=True)
summary_spending_df.drop('index', axis=1, inplace=True)
summary_spending_df

Successfully loaded file resources/transactions_summary (23).csv
Successfully loaded file resources/transactions_summary (24).csv

                Source / Destination        Date  Unnamed: 0  Type
Amount Debited
18.78                     METRO  854  2022-02-23           0  Food
4.05               DERRY CONVENIENCE  2022-02-23           1  Food
101.42                     RCSS 1080  2022-02-24           2  Food
34.92                     METRO  854  2022-02-26           0  Food
44.36           DANFORTH FOOD MARKET  2022-03-12           4  Food
...                              ...         ...         ...   ...
18.96                     METRO  854  2023-09-28           0  Food
20.33               LOBLAW RCSS 1080  2023-09-28         289  Food
41.36                  ONROUTE 01177  2023-10-01        1008   NaN
20.99               LOBLAW RCSS 1080  2023-10-02         289  Food
15.98                     METRO  854  2023-10-06           0  Food

[1011 rows x 4 columns]